@charset "UTF-8";

/** ************************* <FONTS> ************************* **/

@font-face {
  font-family: "OpenSans-Bold";
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-Light";
  font-display: swap;
  src: url("../fonts/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-Regular";
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-SemiBold";
  font-display: swap;
  src: url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

/** ************************* <RESET STYLES> ************************* **/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/** ************************* <COMMON PARAMETERS> ************************* **/

html,
body {
  font-family: "OpenSans-Regular", sans-serif;
  height: 100%;
  min-width: 320px;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1060px;
  margin: 0 auto;
  width: 100%;
  padding: 0 10px;
}

/** ************************* <HEADER> ************************* **/

/*- -------------------- <HEADER-start> -------------------- -*/

.header {
  height: 91px;
  width: 100%;
  background-color: #fafafa;
}

.header-logo {
  margin: 0 75px 0 0;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0 0 0;
}

.header-menu {
  margin: 13px 0 0 0;
}

.header-menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 2;
}

.header-menu__link {
  text-transform: uppercase;
  font-size: 13px;
  color: #a2a2a2;
  letter-spacing: 0;
  -webkit-transition: color .3s linear;
  -o-transition: color .3s linear;
  transition: color .3s linear;
}

.header-menu__link:hover {
  color: #8fc63d;
}

.header-menu__list {
  margin: 0 30px 0 0;
}

.header-btn {
  text-transform: uppercase;
  opacity: 0.41;
  font-size: 13px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.81);
  border: 1px solid #add136;
  background-color: #ADD101;
  border-radius: 20px;
  padding: 9px 30px 9px 30px;
  margin: 11px 3px 0 0;
  -webkit-transition: opacity .3s linear;
  -o-transition: opacity .3s linear;
  transition: opacity .3s linear;
}

.header-btn:hover {
  opacity: 1;
}

/* Бургер */

.header-burger {
  display: none;
}

/* @MEDIA */

/*- -------------------- </HEADER-end> -------------------- -*/

/** ************************* <SLIDER> ************************* **/

/*- -------------------- <SLIDER-start> -------------------- -*/

.slider {
  background-image: url("../img/Overlay.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 570px;
}

.slider-content {
  position: relative;
}

.slider-items {
  padding: 10% 0 0 0;
}

/* Ограничивающая оболочка */

.slick-list {
  overflow: hidden;
}

/* Лента слайдов */

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-initialized .slick-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.slider-item__title {
  font-size: 49.2px;
  font-weight: 600;
  line-height: 1.57;
  letter-spacing: 1.1px;
  text-align: center;
  color: #ffffff;
  margin: 0 0 45px 0;
}

.slider-item__title span {
  font-size: 35.2px;
  font-weight: normal;
}

.slider-item__btn {
  font-size: 19.2px;
  font-weight: 600;
  line-height: 4.0;
  color: #ffffff;
  border-radius: 10px;
  background-color: #99c50a;
  padding: 0 40px;
  margin: 0 0 12px 0;
  -webkit-transition: -webkit-box-shadow .2s linear;
  transition: -webkit-box-shadow .2s linear;
  -o-transition: box-shadow .2s linear;
  transition: box-shadow .2s linear, -webkit-box-shadow .2s linear;
}

.slider-item__btn:hover {
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.34);
          box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.34);
}

.slider-arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  position: absolute;
  bottom: -35%;
  right: 0;
}

.slider-arrows__left {
  position: absolute;
  bottom: 48px;
  right: 128px;
}

.slider-arrows__right {
  position: absolute;
  bottom: 48px;
  right: 83px;
}

/*- -------------------- </SLIDER-end> -------------------- -*/

/** ************************* <WORKS> ************************* **/

/*- -------------------- <WORKS-start> -------------------- -*/

.works-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 98px 0 119px 0;
}

.works-logo {
  text-align: center;
  margin: 0 0 40px 0;
}

.works-title {
  width: 505px;
  font-size: 31.2px;
  font-weight: 600;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
  color: #515151;
  margin: 0 0 53px 0;
}

.works-text {
  width: 920px;
  font-size: 19.2px;
  text-align: center;
  color: rgba(81, 81, 81, 0.71);
}

.works-text p {
  margin: 0 0 17px 0;
}

/*- -------------------- </WORKS-end> -------------------- -*/

/** ************************* <SLIDER2> ************************* **/

/*- -------------------- <SLIDER2-start> -------------------- -*/

.slider2 {
  position: relative;
}

.slider2-content {
  margin: 0 0 101px 0;
}

.slick-dots {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: -136px;
  left: 28px;
}

.slick-dots .slick-active {
  position: relative;
}

.slick-dots .slick-active:before {
  content: '';
  position: absolute;
  top: 76px;
  width: 300px;
  border-bottom: 2px solid #add136;
}

.slick-dots li {
  width: 40px;
  height: 40px;
  margin: 0 271px 0 0;
}

.slick-dots li:nth-child(2) {
  margin: 0 344px 0 0;
}

li button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  color: #fafafa;
}

.slick-dots .slick-active button {
  background-color: #add136;
}

.slider2-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 0 0 94px 99px;
}

.slider2-top:before {
  content: "";
  position: absolute;
  width: 982px;
  border: 1px solid #000000;
  right: 33px;
  top: 176%;
  opacity: .1;
}

.slider2-item__link {
  font-size: 33.2px;
  font-weight: 300;
  text-align: center;
  position: relative;
  z-index: 50;
  margin: 0 207px 0 0;
}

.slider2-item__link a {
  cursor: pointer;
  color: #656565;
}

.slider2-item__link:nth-child(2) {
  margin: 0 192px 0 0;
}

.slider2-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider2-slid {
  width: 868px;
  position: relative;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.slider2-slid__img {
  margin: 30px -14px 0 55px;
}

.slider2-slid__item-title {
  font-size: 25.2px;
  color: #add136;
  margin: 0 0 27px 0;
}

.slider2-slid__item-text {
  width: 650px;
  font-size: 17.2px;
  line-height: 1.7;
  color: rgba(96, 96, 96, 0.67);
}

/*- -------------------- </SLIDER2-end> -------------------- -*/

/** ************************* <FIND> ************************* **/

/*- -------------------- <FIND-start> -------------------- -*/

.find-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.find-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 77px 47px 0;
}

.find-item__img {
  margin: 43px 0 0 0;
}

.find-item__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0 0 46px;
}

.find-item__items-title {
  font-size: 23.2px;
  margin: 0 0 23px 0;
  letter-spacing: 1px;
  color: #515151;
}

.find-item__items-text {
  width: 256px;
  line-height: 1.7;
  font-size: 17.2px;
  color: #515151;
  margin: 0 0 23px 0;
}

.find-item__items-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  font-weight: 600;
  width: 187px;
  height: 51px;
  color: #ffffff;
}

.color1 {
  background-color: #e2f8ff;
  width: 50%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.color2 {
  background-color: #f5f9eb;
  width: 50%;
  padding: 40px 77px 47px 70px;
}

.color2__img {
  margin: 0 0 0 0;
}

.btn-left {
  border-radius: 7.8px;
  background-color: #26a6d1;
}

.btn-right {
  border-radius: 7.8px;
  background-color: #add136;
}

.items {
  margin: 0 0 0 74px;
}

.img {
  margin: 56px 0 0 0;
}

/*- -------------------- </FIND-end> -------------------- -*/

/** ************************* <PROJECT> ************************* **/

/*- -------------------- <PROJECT-start> -------------------- -*/

.project-content {
  margin: 74px 0 0 25px;
}

.project-title {
  font-size: 29.2px;
  font-weight: 600;
  letter-spacing: .5px;
  color: #515151;
  margin: 0 0 19px 0;
}

.project-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 63px 0;
}

.project-top__text {
  width: 672px;
  line-height: 1.6;
  font-size: 17.2px;
  color: #8f8f8f;
}

.project-top__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  font-weight: 600;
  opacity: 0.42;
  border-radius: 8.7px;
  border: solid 1px #515151;
  background-color: #ffffff;
  color: rgba(81, 81, 81, 0.71);
  width: 183px;
  margin: -23px 35px 0 0;
  height: 52px;
  -webkit-transition: background-color .4s linear, color .4s linear, opacity .4s linear;
  -o-transition: background-color .4s linear, color .4s linear, opacity .4s linear;
  transition: background-color .4s linear, color .4s linear, opacity .4s linear;
}

.project-top__btn:hover {
  border: solid 1px #26a6d1;
  background-color: #26a6d1;
  opacity: 1;
  color: #fafafa;
}

.project-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project-item {
  width: 300px;
  border: solid 1px rgba(0, 0, 0, 0.14);
  border-radius: 10px;
  background-color: #f7f7f7;
  margin: 0 41px 0 0;
  padding: 0 0 24px 0;
}

.project-item__img {
  margin: 0 0 24px 0;
}

.project-item__img img {
  width: 100%;
}

.project-item__title {
  font-size: 17.2px;
  font-weight: bold;
  letter-spacing: .6px;
  color: #484848;
  margin: 0 0 9px 23px;
}

.project-item__text {
  font-size: 13.2px;
  opacity: 0.79;
  color: rgba(72, 72, 72, 0.71);
  margin: 0 0 38px 27px;
  line-height: 1.8;
}

.project-item__progress {
  width: 253px;
  height: 14px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #add136;
  margin: 0 0 17px 23px;
}

.project-item__progress-scale {
  position: relative;
  left: 7%;
  width: 100%;
  height: 100%;
  background-color: #e3e3e3;
}

.project-item__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 15px 0;
}

.project-item__items-fun {
  font-size: 13.2px;
  font-weight: 600;
  text-align: center;
  color: #8d8d8d;
  margin: 0 0 0 22px;
}

.project-item__items-days {
  font-size: 13.2px;
  font-weight: 600;
  text-align: center;
  color: #8d8d8d;
  margin: 0 25px 0 0;
}

.project-item__link {
  opacity: 0.85;
  font-size: 15.2px;
  font-weight: 600;
  text-align: center;
  letter-spacing: .4px;
  color: rgba(72, 72, 72, 0.85);
  margin: 0 0 22px 109px;
}

.project-item__link:after {
  content: url("../img/arrow.png");
  position: relative;
  bottom: -4px;
  left: 9px;
}

.project-item:nth-child(2) {
  margin: 0 37px 0 0;
}

.project-item:nth-child(3) {
  margin: 0 0 0 0;
}

.project-item hr {
  background-color: #d6d6d6;
  height: 1px;
  width: 252px;
  margin: 0 0 22px 24px;
}

.scale1 {
  left: 15%;
}

.scale2 {
  left: 68%;
}

.scale3 {
  left: 16%;
}

/*- -------------------- </PROJECT-end> -------------------- -*/

/** ************************* <COMMUNITY> ************************* **/

/*- -------------------- <COMMUNITY-start> -------------------- -*/

.community {
  background: url("../img/bg.png") center no-repeat;
  background-size: cover;
  padding: 125px 0 0 0;
  margin: -60px 0 0 0;
}

.community-title {
  font-size: 39px;
  font-weight: 600;
  text-align: center;
  letter-spacing: .8px;
  color: #9ec02d;
  margin: 0 14px 33px 0;
}

.community-text {
  width: 918px;
  line-height: 1.6;
  font-size: 19px;
  text-align: center;
  color: #949494;
  margin: 0 0 117px 53px;
}

.community-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.community-item {
  position: relative;
  margin: 0 159px 0 63px;
}

.community-item:nth-child(2) {
  margin: 0 0 0 65px;
}

.community-item__title {
  font-size: 21px;
  font-weight: 600;
  text-align: center;
  position: relative;
  z-index: 2;
  color: #9ec02d;
  margin: 0 0 11px 0;
}

.community-item__text {
  width: 319px;
  position: relative;
  z-index: 2;
  font-size: 13px;
  text-align: center;
  line-height: 1.7;
  color: #848484;
  margin: 0 0 55px 11px;
}

.community-item__img {
  float: left;
  margin: 0 17px 61px 23px;
}

.community-item__img:nth-child(2) {
  margin: 0 17px 61px 12px;
}

.community-item__name {
  font-size: 15px;
  letter-spacing: .8px;
  color: #494949;
  padding: 20px 0 0 0;
}

.community-item:after {
  content: url("../img/Com.png");
  position: absolute;
  top: -19px;
  left: -24px;
}

/*- -------------------- </COMMUNITY-end> -------------------- -*/

/** ************************* <FOOTER> ************************* **/

/*- -------------------- <FOOTER-start> -------------------- -*/

.footer-img {
  text-align: center;
  margin: 45px 0 41px 0;
}

.footer-text {
  font-size: 13px;
  text-align: center;
  color: #848484;
  margin: 0 0 25px 0;
}

hr {
  height: 1px;
  background-color: #ededed;
  margin: 0 0 22px 0;
}

/*- -------------------- </FOOTER-end> -------------------- -*/

/** ************************* <SLICK> ************************* **/

/*- -------------------- <SLICK-start> -------------------- -*/

.slick-slider {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/*- -------------------- </SLICK-end> -------------------- -*/

@media (max-width: 1072px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 991px) {
  .header-content {
    padding: 17px 0 0 0;
  }

  .header-logo {
    margin: 0 20px 0 0;
  }

  .header-logo__img {
    width: 150px;
  }

  .header-menu {
    margin: 6px 0 0 0;
  }

  .header-menu__list {
    margin: 0 11px 0 0;
  }

  .header-btn {
    padding: 6px 25px 6px 25px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}

@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }

  .header-burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 100;
  }

  .header-burger span {
    position: absolute;
    background-color: #1D1D1D;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header-burger:before,
  .header-burger:after {
    content: '';
    background-color: #1D1D1D;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header-burger:before {
    top: 0;
  }

  .header-burger:after {
    bottom: 0;
  }

  .header-burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header-burger.active:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .header-burger.active:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }

  .header-menu {
    margin: 0;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    background-color: #626262;
    padding: 10px 0 0 15px;
    z-index: 50;
  }

  .header-menu__items {
    display: block;
  }

  .header-menu.active {
    top: 0;
  }

  .header-menu__link {
    color: #add136;
    font-size: 22px;
  }

  .header-menu__list {
    margin: 0 0 10px 0;
  }

  .header-btn {
    display: none;
  }

  .header-content {
    padding: 30px 0 0 0;
  }

  .slider-arrows {
    display: none;
  }

  .slider-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .slider-body__title {
    font-size: 30.2px;
    font-weight: 600;
    line-height: 1.57;
    letter-spacing: 1.1px;
    text-align: center;
    color: #ffffff;
    margin: 0 0 45px 0;
  }

  .slider-body__title span {
    font-size: 22.2px;
  }

  .slider-body__btn {
    line-height: 3.0;
    font-size: 18px;
    padding: 0 20px;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }

  .slider-body__btn:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .works-title {
    width: 100%;
    line-height: 1.3;
    font-size: 30.2px;
    margin: 0 0 53px 0;
  }

  .works-text {
    width: 100%;
    font-size: 19.2px;
    text-align: justify;
    color: rgba(81, 81, 81, 0.71);
  }

  .works-text p {
    margin: 0 0 17px 0;
  }

  .slider2-content {
    margin: 0 0 60px 0;
  }

  .slider2-slid {
    width: 868px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .slider2-slid__img {
    margin: 10px 7px 0 0;
  }

  .slider2-slid__img img {
    width: 50px;
  }

  .slider2-slid__item-title {
    font-size: 22px;
    margin: 0 0 27px 0;
  }

  .slider2-slid__item-text {
    width: 100%;
    font-size: 16px;
  }

  .slider2-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 130px 0 0;
  }

  .slider2-item__num {
    width: 30px;
    height: 30px;
    padding: 8px 0 0 10px;
    margin: 0 10px 10px 0;
  }

  .slider2-item__link {
    font-size: 24px;
  }

  .slider2-item__link:nth-child(2) {
    margin: 0 0 10px 55px;
  }

  .slider2-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0 0 40px 0;
  }

  .slider2-top::before {
    content: "";
    position: absolute;
    width: 100%;
    border: 1px solid #000000;
    right: 0;
    top: 145px;
    opacity: 0.23;
    background-color: #add136;
  }

  .slider2-top .active {
    background-color: #add136;
  }

  .slick-active:after {
    display: none;
  }

  .slick-dots {
    display: block;
    left: 0;
    top: -174px;
  }

  .slick-dots li {
    margin: 0 0 5px 0;
  }

  .slick-dots .slick-active {
    position: relative;
  }

  .slick-dots .slick-active:before {
    content: none;
    position: absolute;
    top: 76px;
    width: 300px;
    border-bottom: 2px solid #add136;
  }

  .slick-dots li:nth-child(2) {
    margin: 0 344px 5px 0;
  }

  .slider2-item__link {
    margin: 0 0 10px 55px;
  }

  .find-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .find-item__img {
    margin: 45px 0 35px 0;
  }

  .find-item__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 0 60px 0;
  }

  .find-item__items-title {
    font-size: 23.2px;
    margin: 0 0 23px 0;
    letter-spacing: 1px;
    color: #515151;
  }

  .find-item__items-text {
    width: 256px;
    line-height: 1.7;
    font-size: 17.2px;
    color: #515151;
    margin: 0 0 23px 0;
  }

  .find-item__items-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 15px;
    font-weight: 600;
    width: 187px;
    height: 51px;
  }

  .color1,
  .color2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    padding: 0;
  }

  .project-content {
    margin: 0;
  }

  .project-title {
    text-align: center;
    font-size: 30.2px;
    margin: 45px 0 19px 0;
  }

  .project-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .project-top__text {
    width: 100%;
    text-align: center;
    font-size: 17.2px;
    margin: 0 0 30px 0;
  }

  .project-top__btn {
    margin: 0;
    height: 40px;
  }

  .project-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 0 54px 0;
  }

  .project-item {
    margin: 0 0 15px 0;
    width: 100%;
  }

  .project-item:nth-child(2) {
    margin: 0 0 15px 0;
  }

  .community-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .community-title {
    width: 307px;
    font-size: 30.2px;
    margin: 0 0 20px 0;
  }

  .community-text {
    width: 100%;
    line-height: 1.3;
    margin: 0 0 70px 0;
  }

  .community-item {
    position: relative;
    margin: 0;
  }

  .community-item:nth-child(2) {
    display: none;
  }

  .community-item__title {
    font-size: 21.2px;
    font-weight: 600;
    text-align: center;
    position: relative;
    z-index: 2;
    color: #9ec02d;
    margin: 0 0 0 0;
  }

  .community-item__text {
    width: 310px;
    font-size: 13.2px;
    text-align: center;
    line-height: 1.3;
    margin: 0 0 55px 0;
  }

  .community-item__img {
    float: left;
    margin: 0 17px 61px 23px;
  }

  .community-item__img:nth-child(2) {
    margin: 0 17px 61px 12px;
  }

  .community-item__name {
    letter-spacing: 0;
    padding: 20px 0 0 0;
  }

  .community-item:after {
    content: url(../img/Com-mob.png);
    top: -33px;
    left: 3px;
  }

  .footer-img {
    margin: 0 0 35px 0;
  }

  .footer-img img {
    width: 320px;
  }

  .footer-text {
    margin: 0 0 20px 0;
  }

  hr {
    margin: 0 0 20px 0;
  }
}
@supports (-webkit-appearance:none){
.slider{background-image:url("../img/Overlay.webp")}
.community{background:url("../img/bg.webp") center no-repeat}
}

 @media (max-width: 1072px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 991.98px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 991px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 767.98px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 767px){

@supports (-webkit-appearance:none){

}

}
